<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.smpn18kotategal">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.SMPN18KOTATEGAL">

        <activity android:name=".GaleriActivity" />
        <activity android:name=".PengumumanActivity" />
        <activity android:name=".EkstrakulikulerActivity" />
        <activity android:name=".FasilitasActivity" />
        <activity android:name=".PrestasiActivity" />
        <activity android:name=".GuruActivity" />
        <activity android:name=".ProfilActivity" />
        <activity android:name=".SplashScreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".MainActivity"></activity>
    </application>

</manifest>