<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.smpn18kotategal">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.SMPN18KOTATEGAL">
        <activity android:name=".FasilitasActivity"></activity>
        <activity android:name=".OrganisasifutsalActivity" />
        <activity android:name=".OrganisasipmrActivity" />
        <activity android:name=".OrganisasipramukaActivity" />
        <activity android:name=".OrganisasiosisActivity" />
        <activity android:name=".EkskulActivity" />
        <activity android:name=".Sby9Activity" />
        <activity android:name=".Prakarya9Activity" />
        <activity android:name=".Pkn9Activity" />
        <activity android:name=".Pjok9Activity" />
        <activity android:name=".Bjawa9Activity" />
        <activity android:name=".Pai9Activity" />
        <activity android:name=".Ips9Activity" />
        <activity android:name=".Ipa9Activity" />
        <activity android:name=".Bing9Activity" />
        <activity android:name=".Bind9Activity" />
        <activity android:name=".Mtk9Activity" />
        <activity android:name=".Bjawa8Activity" />
        <activity android:name=".Sby8Activity" />
        <activity android:name=".Prakarya8Activity" />
        <activity android:name=".Pkn8Activity" />
        <activity android:name=".Pjok8Activity" />
        <activity android:name=".Pai8Activity" />
        <activity android:name=".Ips8Activity" />
        <activity android:name=".Ipa8Activity" />
        <activity android:name=".Bing8Activity" />
        <activity android:name=".Bind8Activity" />
        <activity android:name=".Mtk8Activity" />
        <activity android:name=".Bjawa7Activity" />
        <activity android:name=".Sby7Activity" />
        <activity android:name=".Prakarya7Activity" />
        <activity android:name=".Pkn7Activity" />
        <activity android:name=".Pjok7Activity" />
        <activity android:name=".Pai7Activity" />
        <activity android:name=".Ips7Activity" />
        <activity android:name=".Ipa7Activity" />
        <activity android:name=".Bing7Activity" />
        <activity android:name=".Bind7Activity" />
        <activity android:name=".Mtk7Activity" />
        <activity android:name=".perpustakaan3Activity" />
        <activity android:name=".perpustakaan2Activity" />
        <activity android:name=".OpsibukuActivity" />
        <activity android:name=".PerpustakaanActivity" />
        <activity android:name=".Album5Activity" />
        <activity android:name=".Album4Activity" />
        <activity android:name=".Album3Activity" />
        <activity android:name=".Album2Activity" />
        <activity android:name=".album1Activity" />
        <activity android:name=".GaleriActivity" />
        <activity android:name=".GuruActivity" />
        <activity android:name=".ProfilActivity" />
        <activity android:name=".SplashScreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".MainActivity" />
    </application>

</manifest>